@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&family=Shrikhand&display=swap");
h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.6rem;
  font-weight: bold;
}

/*--- HEADER ---*/
/*--- BUTTON ---*/
/*--- FOOTER ---*/
/* FOOTER - LARGE SCREEN */
/*--- MENU PAGE ---*/
/*--- HOMEPAGE ---*/
/* loader */
@keyframes background-loader {
  from {
    opacity: 1;
    position: fixed;
    z-index: 2;
  }
  to {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
    z-index: 3;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
    z-index: 1;
  }
}
/* heart animation */
@keyframes heart {
  from {
    background: linear-gradient(white 60%, #9356DC 10%);
    -webkit-background-clip: text;
    animation-delay: 1000ms;
  }
  10% {
    background: linear-gradient(white 50%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1100ms;
  }
  20% {
    background: linear-gradient(white 40%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1200ms;
  }
  30% {
    background: linear-gradient(white 30%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1300ms;
  }
  40% {
    background: linear-gradient(white 20%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1400ms;
  }
  50% {
    background: linear-gradient(white 10%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1500ms;
  }
  60% {
    background: linear-gradient(white 8%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1600ms;
  }
  70% {
    background: linear-gradient(white 5%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1700ms;
  }
  80% {
    background: linear-gradient(white 2%, #9356DC 10%, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1800ms;
  }
  90% {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 1900ms;
  }
  to {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    animation-delay: 2000ms;
  }
}
/*--- MENU PAGE ---*/
/* suggestion dishes loading*/
@keyframes suggestion-loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* suggestion price - icon check */
/* 1st keyframes - spin icon */
@keyframes spin_icon {
  0% {
    transform: translateX(5%) rotate(0deg);
    animation-direction: reverse;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateX(-20%) rotate(360deg);
  }
}
/* 2nd keyframes - green background appears */
@keyframes moving_title {
  0% {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  50% {
    width: 70%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  100% {
    width: 70%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
* {
  font-family: "Roboto", "sans-serif";
}

.ohmyfood, .header_section-menu_title {
  font-family: "Shrikhand", "sans-serif";
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 300;
  font-size: 0.8rem;
}

p {
  font-weight: 500;
  font-size: 0.8rem;
}

/*--- HOMEPAGE ---*/
/* Animation - loading spinner - 3s to load the page  */
#loader {
  width: 100%;
  margin: auto;
  text-align: justify;
}

.loader-circle {
  display: flex;
  width: 100%;
  height: 100%;
}

.loader-circle::before {
  content: "";
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  opacity: 1;
  animation: background-loader 3s linear;
  -webkit-animation: background-loader 3s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.loader-circle::after {
  box-sizing: border-box;
  content: "";
  position: fixed;
  border: 10px solid white;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #eaeaea;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear;
  -webkit-animation: spin 3s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* Like Animation */
.full {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}
.full:hover {
  animation: heart 2s linear;
  animation-fill-mode: backwards;
  -webkit-text-stroke: 0px black;
  animation-fill-mode: forwards;
}

/*--- MENU PAGE ---*/
/* Animation - suggestion dishes loading*/
.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10 {
  animation-name: suggestion-loading;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.34, 0, 0, 0.98);
  animation-fill-mode: forwards;
  opacity: 0;
}

.s1 {
  animation-delay: 100ms;
}

.s2 {
  animation-delay: 200ms;
}

.s3 {
  animation-delay: 300ms;
}

.s4 {
  animation-delay: 400ms;
}

.s5 {
  animation-delay: 500ms;
}

.s6 {
  animation-delay: 600ms;
}

.s7 {
  animation-delay: 700ms;
}

.s8 {
  animation-delay: 800ms;
}

.s9 {
  animation-delay: 900ms;
}

.s10 {
  animation-delay: 1000ms;
}

/* animation - add the suggestion to the order*/
/* animation with spin icon */
.suggestion:hover i {
  animation-name: spin_icon;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  color: white;
  margin: auto;
  display: block;
  cursor: pointer;
}

/* animation with green background */
.all_title-price:hover {
  animation-name: moving_title;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

/*--- HOMEPAGE ---*/
button {
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 20px;
  border: none;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding: 2% 5% 2% 5%;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  button {
    padding: 1% 5% 1% 5%;
  }
}
@media all and (min-width: 1200px) {
  button {
    padding: 1% 5% 1% 5%;
  }
}
/*--- MENU PAGE ---*/
.menu_main_button {
  text-align: center;
  margin: auto;
  padding-bottom: 8%;
}
.menu_main_button button {
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 20px;
  border: none;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  padding-left: 15%;
  padding-right: 15%;
}
.menu_main_button button:hover {
  opacity: 0.8;
}

/* MOBILE FIRST */
footer {
  background-color: #353535;
  color: white;
  padding: 5%;
  line-height: 0.8rem;
}

.footer_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 80%;
}
.footer_title i {
  font-size: 0.7em;
  width: 5%;
  margin-right: 1rem;
}

.mail:link {
  color: white;
  text-decoration: none;
}

/* LARGE SCREEN - change footer design --> row */
@media all and (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #footer_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer_info-part1, .footer_info-part2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
  }

  .footer_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  }
}
/*--- HOMEPAGE ---*/
header {
  height: 10%;
  padding: 5% 0% 5% 0%;
  width: 100%;
  width: 60%;
  margin: auto;
  text-align: center;
}

/* LARGE SCREEN - Homepage  */
@media all and (min-width: 1200px) {
  header {
    height: 5%;
    padding: 2%;
  }

  .logo {
    font-size: 50em;
  }
}
/*--- MENU PAGE ---*/
.header_menu {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  height: 10%;
  padding: 5% 0% 5% 0%;
  width: 100%;
}
.header_menu #logo {
  width: 60%;
  margin: auto;
  text-align: center;
}
.header_menu .fa-arrow-left {
  margin: auto 10% auto 10%;
  width: 90%;
  color: black;
}

/*---------- MOBILE-FIRST ----------*/
body {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  cursor: grab;
}

.prev_restaurant_img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* form part - localization */
.form {
  width: 100%;
  background-color: #eaeaea;
  padding: 2% 0% 2% 0%;
  box-shadow: 0 10px 10px -12px #353535 inset;
}

.form div {
  color: #353535;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 0% auto 0% auto;
  font-size: 1rem;
  padding: 2%;
  align-items: baseline;
}
.form div input {
  background-color: #eaeaea;
  color: #353535;
  border: none;
  margin-left: 5%;
  font-size: 1rem;
  padding: 2%;
  outline: none;
}

input[type=text]:focus {
  /* to cancel the automatic border box*/
  border: 0px solid #eaeaea;
}

/* introduction part */
#introduction {
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  padding: 5% 0% 15% 0%;
}
#introduction h1 {
  width: 60%;
  margin: auto;
}
#introduction h4 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

/* How it works part */
#how_it_works {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 5% 0% 10% 0%;
}
#how_it_works h1 {
  width: 90%;
  margin: auto;
}

.step_1, .step_2, .step_3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  height: auto;
  background-color: #f6f6f6;
  margin: 5% auto 0% auto;
  padding: 2% 0% 2% 0%;
  border-radius: 25px;
  box-shadow: 1px 1px 10px grey;
  align-items: baseline;
  justify-content: space-between;
}
.step_1 p:nth-child(1), .step_2 p:nth-child(1), .step_3 p:nth-child(1) {
  order: 1;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.8em;
  margin-left: -2%;
  margin-right: 10%;
}
.step_1 i:nth-child(2), .step_2 i:nth-child(2), .step_3 i:nth-child(2) {
  order: 2;
  width: auto;
  align-content: center;
  margin: auto;
}
.step_1 h3:nth-child(3), .step_2 h3:nth-child(3), .step_3 h3:nth-child(3) {
  order: 3;
  width: 80%;
  padding-left: 10%;
}

.step_1:hover, .step_2:hover, .step_3:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: pointer;
}

/* preview restaurants part */
#prev_restaurants {
  background-color: #f6f6f6;
  width: 100%;
  padding: 10% 0% 20% 0%;
}
#prev_restaurants h1 {
  width: 90%;
  margin: auto;
}

#prev_restaurants .prev_rest_1, .prev_rest_2, .prev_rest_3, .prev_rest_4 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  margin-top: 5%;
  box-shadow: 1px 1px 5px grey;
}
#prev_restaurants .prev_rest_1 a, .prev_rest_2 a, .prev_rest_3 a, .prev_rest_4 a {
  color: black;
  text-decoration: none;
}
#prev_restaurants .prev_rest_1 a:hover, .prev_rest_2 a:hover, .prev_rest_3 a:hover, .prev_rest_4 a:hover {
  color: black;
}

.new {
  /* green box "nouveau" */
  width: auto;
  position: absolute;
  right: 10%;
  padding: 2%;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5%;
  font-size: 0.8rem;
  z-index: 1;
}

.prev_restaurant_img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.caption {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
  line-height: 40%;
}
.caption_like {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.2rem;
  cursor: pointer;
}

/*----------------Tablet-----------*/
@media all and (min-width: 768px) and (max-width: 991px) {
  /* How it works part - change design --> row*/
  #how_it_works {
    width: 95%;
    margin: auto;
  }
  #how_it_works h1 {
    width: 100%;
  }

  .steps {
    display: flex;
    flex-direction: row;
  }

  .step_1, .step_2, .step_3 {
    width: 30%;
  }
  .step_1 h3, .step_2 h3, .step_3 h3 {
    width: 60%;
  }

  /* preview restaurants part - change design --> 2/2 */
  #prev_restaurants {
    padding: 10% 0% 10% 0%;
  }
  #prev_restaurants .prev_rest_1, #prev_restaurants .prev_rest_2, #prev_restaurants .prev_rest_3, #prev_restaurants .prev_rest_4 {
    width: 40%;
  }

  .prev_rest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .prev_rest_1 .new {
    margin-right: 50%;
  }
  .prev_rest_2 .new {
    margin-right: 0%;
  }
}
/*---------- LAPTOP ----------*/
@media all and (min-width: 992px) and (max-width: 1199px) {
  /* How it works part - change design --> row*/
  #how_it_works {
    width: 95%;
    margin: auto;
  }
  #how_it_works h1 {
    width: 100%;
  }

  .steps {
    display: flex;
    flex-direction: row;
  }

  .step_1, .step_2, .step_3 {
    width: 30%;
  }
  .step_1 h3, .step_2 h3, .step_3 h3 {
    width: 60%;
  }

  /* preview restaurants part - change design --> 2/2 */
  #prev_restaurants {
    padding: 10% 0% 10% 0%;
  }
  #prev_restaurants .prev_rest_1, #prev_restaurants .prev_rest_2, #prev_restaurants .prev_rest_3, #prev_restaurants .prev_rest_4 {
    width: 40%;
  }

  .prev_rest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .prev_rest_1 .new {
    margin-right: 50%;
  }
  .prev_rest_2 .new {
    margin-right: 0%;
  }
}
/*------------ LARGE SCREEN -----------*/
@media all and (min-width: 1200px) {
  /* Form part - change design --> takes place at the top right end of the page */
  .form {
    position: absolute;
    width: 25%;
    height: 8%;
    border-radius: 20px;
    margin: -5% 0% 10% 70%;
    padding: 0px;
    box-shadow: 1px 1px 10px #353535;
  }
  .form div {
    margin: auto;
    padding: 0px;
    width: 90%;
    height: 90%;
    vertical-align: middle;
  }
  .form div i {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  .form div input {
    height: 85%;
    width: 60%;
    margin: auto;
  }

  /* introduction */
  #introduction {
    height: 10%;
    padding: 2% 0% 2% 0%;
    margin-top: 2%;
  }

  /* How it works part - change design --> row*/
  #how_it_works {
    width: 95%;
    height: 20%;
    margin: auto;
  }
  #how_it_works h1 {
    width: 100%;
  }

  .steps {
    display: flex;
    flex-direction: row;
  }

  .step_1, .step_2, .step_3 {
    width: 30%;
  }

  /* preview restaurants part - change design --> 2/2 */
  #prev_restaurants {
    padding: 5% 0% 5% 0%;
  }
  #prev_restaurants .prev_rest_1, #prev_restaurants .prev_rest_2, #prev_restaurants .prev_rest_3, #prev_restaurants .prev_rest_4 {
    width: 40%;
  }

  .prev_rest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  .prev_rest_1 .new {
    margin-right: 45%;
    padding: 1%;
  }
  .prev_rest_2 .new {
    margin-right: 5%;
    padding: 1%;
  }
}
/*---------- MOBILE-FIRST ----------*/
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: grab;
}

/* Main */
/* img - background */
.img-background_palette {
  background-image: url("../../public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 20em;
  z-index: -1;
  position: sticky;
}

.img-background_enchantee {
  background-image: url("../../public/img/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 20em;
  z-index: -1;
  position: sticky;
}

.img-background_française {
  background-image: url("../../public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 20em;
  z-index: -1;
  position: sticky;
}

.img-background_delice {
  background-image: url("../../public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 20em;
  z-index: -1;
  position: sticky;
}

/* Menu */
#menu {
  background-color: #f6f6f6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  width: 100%;
  margin-bottom: 0px;
  margin-top: -5%;
}

.header_section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 5%;
}

.category_menu {
  width: 90%;
  margin: 0% auto 8% auto;
  padding-bottom: 1%;
}
.category_menu-title {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 1%;
  width: 8%;
}

.suggestion {
  border-radius: 1em;
  box-shadow: 4px 4px 6px #eaeaea;
  background-color: #99E2D0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0% auto 5% auto;
}
.suggestion i {
  display: none;
  font-size: 1.2em;
}

.all_title-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 1em;
  background-color: white;
  padding: 5%;
  width: 100%;
}

.suggestion_title {
  width: 70%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.suggestion_title h3 {
  line-height: 1.2em;
  margin: 0% auto 0% auto;
  width: 100%;
}
.suggestion_title h4 {
  height: auto;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0% auto 0% auto;
  width: 100%;
}

.suggestion_price {
  /*price*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.suggestion_price p {
  margin: 0px;
}

/*----------------Tablet-----------*/
@media all and (min-width: 768px) and (max-width: 991px) {
  #menu {
    margin-top: -2%;
  }

  .category_menu {
    /* category menu - change suggestion size */
    width: 60%;
  }
}
/*---------- LAPTOP ----------*/
@media all and (min-width: 992px) and (max-width: 1199px) {
  #menu {
    margin-top: -1%;
  }

  .category_menu {
    /* category menu - change suggestion size */
    width: 60%;
  }
}
/*------------ LARGE SCREEN -----------*/
@media all and (min-width: 1200px) {
  /*img background - change size*/
  .img-background_palette {
    height: 40em;
  }

  .img-background_enchantee {
    height: 40em;
  }

  .img-background_française {
    height: 40em;
  }

  .img-background_delice {
    height: 40em;
  }

  /* category menu - change suggestion size */
  .category_menu {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
